<template>
  <div v-if="isLoaded && !isClosed" :class="{minimized: isMinimized}" id="hub20-checkout">
    <span class="store">{{ merchantStore.name }}</span>
    <div class="charge-details-display">
      <span class="charge-amount-text">Total Due:</span>
      <span class="charge-amount-value">{{ chargeAmount | formattedCurrency(chargeCurrencyCode) }}</span>
    </div>
    <TokenSelector v-if="!checkout" />
    <CheckoutPoint v-if="checkout" />
    <CheckoutActionPanel v-if="checkout" />
  </div>
</template>

<script>
import Vue from 'vue'
import {mapActions, mapGetters, mapState} from 'vuex'
import VuePluralize from 'vue-pluralize'

import {filters as hub20filters} from 'hub20-vue-sdk'

import CheckoutActionPanel from './CheckoutActionPanel'
import CheckoutPoint from './CheckoutPoint'
import TokenSelector from './TokenSelector'

Vue.use(VuePluralize)

export default {
  name: 'checkout',
  components: {
    CheckoutActionPanel,
    CheckoutPoint,
    TokenSelector,
  },
  filters: {
    formattedCurrency: hub20filters.formattedCurrency,
  },
  props: {
    debug: Boolean,
  },
  data() {
    return {
      timerId: null,
    }
  },
  computed: {
    ...mapState('checkout', ['checkout', 'merchantStore']),
    ...mapState(['isClosed', 'isMinimized']),
    ...mapGetters('checkout', [
      'isLoaded',
      'chargeCurrencyCode',
      'chargeAmount',
    ]),
  },
  methods: {
    ...mapActions('checkout', ['reset']),
  }
}
</script>
