<template>
  <div v-if="checkout" class="checkout-payment-display">
    <CheckoutPaymentToken v-if="paymentToken" :token="paymentToken" />
    <CheckoutPaymentSummary v-if="checkout" />
    <Invoice v-if="!isPaid" :paymentRequest="checkout" />
    <CheckoutReceipt v-if="isPaid || isFinalized" />
  </div>
</template>

<script>
import {mapActions, mapGetters, mapState} from 'vuex'

import {components as hub20Components, store} from 'hub20-vue-sdk'

import CheckoutReceipt from './CheckoutReceipt'
import CheckoutPaymentSummary from './CheckoutPaymentSummary'
import CheckoutPaymentToken from './CheckoutPaymentToken'

const {EVENT_TYPES} = store

const SHORT_POLL_INTERVAL = 5 * 1000
const LONG_POLL_INTERVAL = 60 * 1000

export default {
  name: 'checkout-point',
  components: {
    CheckoutPaymentSummary,
    CheckoutPaymentToken,
    CheckoutReceipt,
    Invoice: hub20Components.Payment.Invoice,
  },
  data() {
    return {
      timerId: null,
    }
  },
  computed: {
    ...mapState('checkout', ['checkout', 'merchantStore']),
    ...mapGetters('checkout', ['hasActiveConnection', 'isFinalized', 'isPaid', 'paymentToken']),
  },
  methods: {
    ...mapActions('checkout', ['fetch', 'closeWebsocket', 'openWebsocket']),
    ...mapActions('network', {
      getNetworkStatus: 'getStatus',
    }),
    refresh() {
      this.getNetworkStatus()
      try {
        this.fetch(this.checkout.id)
      } catch(exc) {
        console.warn('Could not get updates for checkout', exc)
      }

      this.resetTimer()

      if (!this.hasActiveConnection) {
        this.setupWebsocket()
      }
    },
    resetTimer() {
      if (this.timerId) {
        clearTimeout(this.timerId)
      }
      const POLL_INTERVAL = this.hasActiveConnection ? LONG_POLL_INTERVAL : SHORT_POLL_INTERVAL
      this.timerId = setTimeout(this.refresh, POLL_INTERVAL)
    },
    setupWebsocket() {
      // Every time we receive a message from the websocket, we reset the timer to avoid unnecessary requests.
      this.openWebsocket(this.checkout.id).then(ws => {
        ws.onmessage = evt => {
          const message = JSON.parse(evt.data)

          switch (message.event) {
          case EVENT_TYPES.BLOCKCHAIN_BLOCK_CREATED:
          case EVENT_TYPES.BLOCKCHAIN_DEPOSIT_BROADCAST:
          case EVENT_TYPES.BLOCKCHAIN_DEPOSIT_RECEIVED:
          case EVENT_TYPES.RAIDEN_DEPOSIT_RECEIVED:
          case EVENT_TYPES.BLOCKCHAIN_ROUTE_EXPIRED:
          case EVENT_TYPES.ETHEREUM_NODE_OK:
            this.refresh()
            break
          case EVENT_TYPES.ETHEREUM_NODE_UNAVAILABLE:
            this.getNetworkStatus()
            break
          }
        }
      })
    },
  },
  mounted() {
    this.refresh()
  },
  beforeDestroy() {
    this.closeWebsocket()

    if (this.timerId) {
      clearTimeout(this.timerId)
    }
  },
}
</script>
